:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
html, body, footer {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', system-ui, sans-serif;
  color: black;
  background-color: var(--white);
  min-height: calc(100vh - 2em);
  border-bottom: 1em solid gainsboro;
}

p:last-child {
  margin-bottom: 0;
}

.tmpl-post li,
img {
  max-width: 600px; /* 600px /16 */
  width: 100%;
}
p,
.tmpl-post li {
  line-height: 1.45;
  max-width: 820px;
}

a[href] {
  color: black;
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 800px;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--lightgray);
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    src: local('IBM Plex Sans'),
        url('/css/IBMPlexSans-Regular.woff2') format('woff2'),
        url('/css/IBMPlexSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    src: local('IBM Plex Mono'),
        url('/css/IBMPlexMono-Regular.woff2') format('woff2'),
        url('/css/IBMPlexMono-Regular.woff') format('woff');
}

pre,
code {
  font-family: 'IBM Plex Mono', Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1.25em;
}
.home :link:not(:hover) {
  text-decoration: none;
}


/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.875em;
  color: var(--darkgray);
}
.postlist-date {
  display: block;
  line-height: 2em;
}
.postlist-date-bigger,
.postlist-item:before {
  font-size: 1.2em;
  color: var(--darkgray);
}
.postlist-date-bigger {
  display: inline;
  line-height: 1.5em;
  margin-right: 1em;
}

.postlist-link {
  display: inline-block;
  padding: 0.25em 0;
  text-decoration: none;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
}


/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 2px 4px;
  margin-left: 0.4em;
  margin-bottom: 0.4em;
  background-color: var(--red);
  color: var(--white);
  border-radius: 0;
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}


/* Direct Links / Markdown Headers */
.direct-link {
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Adicionado */

hr { border: 1px dashed gainsboro; margin-right: 1em;}

[aria-current] {
  background-color: gold;
  text-decoration: none;
}

.next-prev {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}
.next-prev a {
  margin: 0 0.5em;
  text-decoration: none;
  background-color: black;
  padding: 0 0.2em;
  color: white;
}
.next-prev a[href]:visited {
  color: white;
}

.pagination ol {padding: 0;}
.pagination ol li {
  list-style-type: none;
  display: inline-block;
  margin: 0.2em 0.5em;
}


.arquivo {padding: 0;}
.arquivo div {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 1em;
}


.titulo {
  background-color: gainsboro;
  padding: 0.2em;
  clear: right;
}

.random {
  display: inline-block;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 90px;
  float: right;
}

.random:hover {
  transform: scale(1.2);
  transition: all .2s ease-in-out;
}

.postlist li {
  margin-bottom: 3em;
}

.filipe {
  padding: 0;
  list-style: none;
  margin: 3em 0;
}
.filipe li {
  display: inline-block;
  margin: 2em 3em;
}
.filipe li a[href]:not(:hover) {
  text-decoration: none;
}

.filipe li img:hover { transform: scale(1.3); }
.filipe li img { transition: all .2s ease-in-out; }

.links {
  list-style: none;
  margin: 2em 0;
}

.links li {
  font-size: 2.2em;
  margin-bottom: 1.25em;
}

.links li a {
  text-decoration: none;
}

.bottomhr {display: none;color: gainsboro; width: 95%;}

footer {
  background-color: gainsboro;
  width: 100%;
}

footer p {
  font-family: 'IBM Plex Mono';
  padding: 0.25rem 0;
  margin: 0 auto;
  max-width: 800px;
}

footer a {text-decoration: none;}

@media screen and (max-width: 820px) {

  main { margin: 0 1rem;}
  .bottomhr {display: block;}

}
