---
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: entries
layout: layouts/home.njk
permalink: /posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
---
<h1>Arquivo:</h1>
<ol class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for entry in entries %}
  <li>
    <time class="postlist-date" datetime="{{ entry.date | htmlDateString }}">{{ entry.date | readableDate }}</time>
    <a href="{{ entry.url | url }}" class="postlist-link"><code class="titulo">{{ entry.data.title }}</code></a>
    {% for tag in entry.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    {{ entry.templateContent | safe }}
  </li>
{% endfor %}
</ol>

<hr/>

<nav class="pagination">
  <div class="next-prev">
    {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">←</a>{% else %}{% endif %}
    {% if pagination.href.next %}<a href="{{ pagination.href.next }}">→</a>{% else %}{% endif %}
  </div>
  <ol>
    {%- for pageEntry in pagination.pages %}
    <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a></li>
    {%- endfor %}
  </ol>
</nav>
