---
layout: layouts/home.njk
---

<ul class="filipe">
  <li><a href="/img/icones/vcard.png"><img src="/img/icones/card.svg" title="Contacto" alt="card" /></a></li>
  <!--li><a href="https://gitlab.com/aelius/" target="blank" rel="me"><img src="/img/icones/gitlab.svg" title="Gitlab" alt="gitlab logo" /></a></li-->
</ul>

<hr/>

<ul class="links">
  {% for post in collections.posts | head(-1) %}
    <li><a href="{{ post.url }}">mais recente</a></li>
  {% endfor %}
  <li><a href="{{ '/posts/' | url }}">arquivo</a></li>
</ul>



