---
permalink: /tags/
layout: layouts/home.njk
---
<h1>Etiquetas</h1>

<a href="/tags/status/" class="post-tag">Status</a>
<a href="/tags/image/" class="post-tag">Image</a>
<a href="/tags/link/" class="post-tag">link</a>
<a href="/tags/filipe/" class="post-tag">Filipe</a>
<hr/>
{% for tag in collections.tagList %}
  {% if (tag != "filipe") and (tag != "image") and (tag != "link") and (tag != "status") %}
    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {% endif %}
{% endfor %}
