---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: {{ tag }}
permalink: /tags/{{ tag }}/
---
<h1>{{ tag }}</h1>
<hr/>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Todas as <a href="{{ '/#tags' | url }}">etiquetas</a>.</p>
