<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li>
    {% if 'status' in post.data.tags %}
    <a href="{{ post.url | url }}" class="postlist-link"><code class="titulo">{{ post.date | readableDate }}</code></a>
    {% else %}
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <a href="{{ post.url | url }}" class="postlist-link"><code class="titulo">{{ post.data.title }}</code></a>
    {% endif %}
    {% for tag in post.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    {{ post.templateContent | safe }}
    <hr/>
  </li>
{% endfor %}
</ol>
