---
layout: layouts/base.njk
templateClass: tmpl-post
---

<h1 class="titulo">{{ title }}</h1>
<time class="postlist-date-bigger" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
{% for tag in tags %}
  {%- if collections.tagList.indexOf(tag) != -1 -%}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {%- endif -%}
{% endfor %}


{{ content | safe }}

